@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



:root {
    --corFundo: #d8d5ca;
    --fontePrincipal: 'Montserrat', sans-serif;
    --fonteTitulo: 'Dancing Script', cursive;
}




#principal-texto {
    margin-top: 10%;  
}

td, tr{
    font-family: var(--fontePrincipal);
}

h1{
    text-align: center;
    margin-top: 5%;
}

table {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    border-top: 2px solid rgba(60, 60, 60, 0.6);
    border-bottom: 2px solid rgba(60, 60, 60, 0.6);
    font-family: var(--fontePrincipal);

}

td,
th {
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-top: 1px solid rgba(60, 60, 60, 0.6);
    border-bottom: 1px solid rgba(60, 60, 60, 0.6);
}

.circuito{
    width: 50%;
    height: 50%;
}