@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --corFundo: #0f1012;
  --fontePrincipal: "Montserrat", sans-serif;
  --fonteTitulo: "Poiret One", sans-serif;
  --fonteDetalhe: "Baumans";
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--corFundo);
}
a {
  font-family: var(--fontePrincipal);
  font-size: 18px;
  color: rgb(255, 255, 255);
}

p,
h3 {
  font-family: var(--fontePrincipal);
  font-size: 18px;
}

h3 {
  font-family: var(--fontePrincipal);
  font-size: 25px;
  font-weight: normal;
  color: white;
}

#title h1 {
  font-size: 50px;
}
#d-number {
  font-family: var(--fonteDetalhe);
  font-size: 3000%;
  font-weight: bolder;
}
#d-stats h2 {
  font-family: var(--fonteDetalhe);
  font-weight: bolder;
  margin: 0;
}
#d-infos h2 {
  font-family: var(--fonteDetalhe);
  font-weight: bolder;

  font-size: 60px;
}
#d-stats p {
  margin: 5px 0px;
}

h1,
h2 {
  font-family: var(--fonteTitulo);
  font-size: 45px;
  font-weight: normal;
  color: white;
}
