#carro {
    width: 40%;
    align-self: flex-end;
}

#banner {
    background-image: linear-gradient(to right, #000000, #737373);
    margin: 2% 10%;
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

#titulo {
    margin: 8px;
}

.dropdown .dropbtn {
    color: rgb(0, 0, 0);
}

h1 {
    color: white;
    font-size: 450%;
    margin: 5px;
}

h3 {
    color: white;
    margin: 2px;
}

#equipe,
.piloto {
    margin: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    width: 250px;
    height: 350px;
    border-radius: 20px;
}

p {
    font-size: 25px;
}

#foto {
    width: 402px;
    height: 607px;
    border-radius: 20px;
}

#banner #titulo p {
    color: white;
    font-size:15px;
}
