#principal-texto {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 1%, 17%, 0.4);
    
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

table {
    margin-right: 2%;
    margin-left: 2%;
}

td,
th {
    padding: 10px;
    text-align: start;
    font-family: "Radio Canada", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-top: 1%;
}

img {
    width: 40%;
    border-radius: 20px;
}

@media (max-width: 879px) {
    #principal-texto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 50%;
    }
    img {
        margin-top: 10%;
        width: 70%;
    }

    td,
    th {
        font-size: 100%;
    }
}